@model IEnumerable<TripleProject.Areas.Admin.Models.Product>

@{
    int counter = 0;
    string active = null;
    string image = null;
}

<div class="carousel slide mb-4" data-ride="carousel" id="carousel-controls">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            active = counter == 0 ? "active" : "";
            image = item.Image != null ? item.Image.Path : null;

        <div class="carousel-item @active">
            <div class="square-image part-50" style="background-image: url(@image)"></div>
            <div class="card-img-overlay-bottom">
                <h3><a asp-controller="Home" asp-action="ProductsSingle" asp-route-id="@item.Id">@item.Title</a></h3>
                <p>@item.Price</p>
                <p>@item.Quantity</p>
                <p>@item.Catalog.Name</p>
                <a asp-controller="Home" asp-action="ProductsSingle" asp-route-id="@item.Id" class="btn btn-primary">Buy now</a>
            </div>
        </div>

            counter++;
        }
    </div>

    <ul class="carousel-indicators">
        @{
            counter = 0;
        }

        @foreach (var item in Model)
        {
            active = counter == 0 ? "active" : "";

            <li data-target="#carousel-controls" data-slide-to="@counter" class="@active"></li>

            counter++;
        }
    </ul>
</div>
