@model IEnumerable<TripleProject.Areas.Admin.Models.FileUpload>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


@{
    ViewData["Title"] = SharedLocalizer["Files"];
}

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["Image"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="square-image thumbnail-sm img-thumbnail mt-n2 mb-n2" style="background-image: url(@item.Path)"></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int count = (int)ViewData["count"];
    int page = (int)ViewData["page"];
    decimal itemsPerPage = (int)ViewData["itemsPerPage"];
}

@await Component.InvokeAsync("Pagination", new { count, page, itemsPerPage })
