@model IEnumerable<TripleProject.Areas.Admin.Models.Page>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Pages"];
}

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Create New"]</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @SharedLocalizer["Edit"]
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @SharedLocalizer["Details"]
                    </a> |
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@item.Slug">
                        @SharedLocalizer["View"]
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int count = (int)ViewData["count"];
    int page = (int)ViewData["page"];
    decimal itemsPerPage = (int)ViewData["itemsPerPage"];
}

@await Component.InvokeAsync("Pagination", new { count, page, itemsPerPage })
