@page
@model ResetAuthenticatorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Reset authenticator key"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="material-icons">warning</span>
        <strong>@SharedLocalizer["If you reset your authenticator key your authenticator app will not work until you reconfigure it"].</strong>
    </p>
    <p>
        @SharedLocalizer["This process disables 2FA until you verify your authenticator app"].
        @SharedLocalizer["If you do not complete your authenticator app configuration you may lose access to your account"].
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-primary" type="submit">@SharedLocalizer["Reset authenticator key"]</button>
    </form>
</div>