@page
@model TwoFactorAuthenticationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Two-factor authentication (2FA)"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@SharedLocalizer["You have no recovery codes left"].</strong>
            <p>@SharedLocalizer["You must"] <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer["generate a new set of recovery codes"]</a> @SharedLocalizer["before you can log in with a recovery code"].</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@SharedLocalizer["You have 1 recovery code left"].</strong>
            <p>@SharedLocalizer["You can"] <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer["generate a new set of recovery codes"]</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@SharedLocalizer["You have"] @Model.RecoveryCodesLeft @SharedLocalizer["recovery codes left"].</strong>
            <p>@SharedLocalizer["You should"] <a asp-page="./GenerateRecoveryCodes">@SharedLocalizer["generate a new set of recovery codes"]</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">@SharedLocalizer["Forget this browser"]</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">@SharedLocalizer["Disable 2FA"]</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">@SharedLocalizer["Reset recovery codes"]</a>
}

<h5>@SharedLocalizer["Authenticator app"]</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">@SharedLocalizer["Add authenticator app"]</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">@SharedLocalizer["Setup authenticator app"]</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">@SharedLocalizer["Reset authenticator app"]</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
