@model IEnumerable<TripleProject.Areas.Admin.Models.Advertisement>

<div class="owl-carousel owl-carousel-mono mb-4">
    @foreach (var item in Model)
    {
        string image = item.Image != null ? item.Image.Path : null;

        <div>
            <div class="square-image part-50" style="background-image: url(@image)"></div>
            <div class="card-img-overlay-bottom">
                <h3 class="h5"><a asp-controller="Home" asp-action="AdvertisementsSingle" asp-route-id="@item.Id">@item.Title</a></h3>
                <p>@item.Price</p>
                <p class="text-red h5">@item.Price @item.Currency</p>
                <p><a asp-controller="Home" asp-action="AdvertisementsCategory" asp-route-id="@item.CategoryId">@item.Category.Name</a></p>
                <a asp-controller="Home" asp-action="AdvertisementsSingle" asp-route-id="@item.Id" class="btn btn-primary">Buy now</a>
            </div>
        </div>
    }
</div>
