@model IEnumerable<TripleProject.Areas.Admin.Models.Category>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Categories"];
}

<div class="pt-3 pb-2 mb-3">
    <h1 class="h2">@ViewData["Title"] <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Create"]</a></h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string parent = "";
            @if (item.ParentId != null)
            {
                parent = "pl-5";
            }
            <tr>
                <td class="@parent">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                    <a asp-area="" asp-controller="Home" asp-action="AdvertisementsCategory" asp-route-id="@item.Id">@SharedLocalizer["View"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int count = (int)ViewData["count"];
    int page = (int)ViewData["page"];
    decimal itemsPerPage = (int)ViewData["itemsPerPage"];
}

@await Component.InvokeAsync("Pagination", new { count, page, itemsPerPage })
