@model TripleProject.Areas.Admin.Models.Shop
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = Model.Title;
}
<div class="pb-2 mt-4 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<div class="owl-carousel-description-box mb-3">
    <div class="owl-carousel owl-carousel-mono">
        @if (Model.Image != null)
        {
            <div class="square-image part-50" style="background-image: url(@Model.Image.Path)"></div>
        }
        @await Component.InvokeAsync("ShopCarousel", Model.GalleryId)
    </div>

    <div class="description card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <div class="views-trigger text-muted" data-type="shop" data-id="@Model.Id">
                    <i class="material-icons">visibility</i>
                    <span>@Html.DisplayFor(model => model.Views)</span>
                    <form asp-antiforgery="true"></form>
                </div>
            </div>
            <p class="mb-1"><i class="material-icons">location_on</i> @Model.Location</p>
            <p class="mb-1"><i class="material-icons">call</i> @Model.Phone</p>
            <p class="mb-1"><i class="material-icons">email</i> @Model.Email</p>
            <p class="mb-1"><i class="material-icons">access_time</i> @Model.WorkingHours</p>

            <div class="mb-3">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        @Html.Raw(Model.Text)
    </div>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 mb-3">
            <article class="card">
                @if (product.Image != null)
                {
                    <a asp-controller="Home" asp-action="ProductsSingle" asp-route-id="@product.Id">
                        <div class="square-image card-img-top" style="background-image: url(@product.Image.Path)"></div>
                    </a>
                }
                <div class="card-body">
                    <h3 class="h5"><a asp-controller="Home" asp-action="ProductsSingle" asp-route-id="@product.Id">@product.Title</a></h3>
                    <p>@product.Description</p>
                    <p class="text-red h5">@product.Price @product.Currency</p>
                </div>
            </article>
        </div>
    }
</div>